/shared/dist/
/backend/dist/
/node_modules/
/shared/node_modules/
/backend/node_modules/
/frontend/node_modules/
/frontend/build/
/shared/yarn-error.log
/core/dist/
/core/node_modules/
yarn-error.log
/frontend/dist/
/backend/data/data.json
/.idea/
